@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1567265424568'); /* IE9 */
  src: url('iconfont.eot?t=1567265424568#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAJgAAsAAAAABhQAAAIWAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAocPwE2AiQDCAsGAAQgBYRtBzMbaAXIjsJxr8TNUP5/xcPX2O/P3V1Uk4hG0SyarOGNUKgkXslUpsN0QvmhWf75bU1VGZMgHc+Ge6DJPfT2lk9W0vZ4GC5CBbAFrD7P5fQm0IHMD3SuozlorMlHvQDjQApsT4wiK6GMG8YueIGPCTQa0FLY355vUFfYqwLxHHgW1AtJRWGVeqG24WARFTXq01v6wXv0/fhnJepJajK75+h248L8955Tk1+rry4DQoqAjtcgYw4oxFlj8UBJMK6ksVg2Ao7VGfzeq1aDgDiqV7C/zm5vBn2wFPze81YKkOCxxsqomzSFyDfkzWZfdsA2+ln+TttQQPDRc/u+aVv/X99UwK/KZyXyFMPCoH6dUPDu6sC+Yui2PxVNbXQkM0+CdzSiyo52+pvq6jlRNdTrmRCu058hqzdGFnYONZqsoVa9LTSatTvepIsoidKAGW+A0O4bSasvZO1+yML+okavf9Rqj4xGF9F1YZOJeGjuCVlKLtpfGDicGjeozbjzQt4ztiSvR/yDJA8y2F9YKld2lJIssSV/eQNVg0Y4wS14juKYMRMOydGOr5oNu4u3TW/qOJxA0x5BLIq4kO0LCjhYygTDVbPy+QvieYpZpMNQVz4QkQsmR30dvQHkzpYOMjzKK7kXz4BSBjIES6AtmEdiMYay5nkh4lAd/oR8ZqjrDDJDbZ3tHcnfHYFGtjuFsyNreGHRtssfKQA=') format('woff2'),
  url('iconfont.woff?t=1567265424568') format('woff'),
  url('iconfont.ttf?t=1567265424568') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1567265424568#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sort-down:before {
  content: "\e843";
}

