/* 样式初始化文件 */
body{
    /* 去掉水平方向滚动条 */
    overflow-x: hidden;
    background-color:#27221d;
}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,dt,dd {
     margin: 0;
     padding: 0;
     list-style: none;

     color: #ede0c0;
     font-size: 16px;
     font-family: "Segoe UI", Arial, "Microsoft Yahei", sans-serif;
}  

a {
    text-decoration: none;
    color:  #ede0c0;
}

img,input {
    vertical-align: middle;
    border: 0 none;
    outline-style: none;
    padding: 0;
}


.clearfix::after {
     content: '';
     display: block;
     clear: both;
     height: 0;
     line-height: 0;
     visibility: hidden;
}

.clearfix {
    zoom: 1;
}


/* 版心 */
.w {
     width: 1140px;
     margin: 0 auto;
     position: relative;
}

.left {
    float: left;
}

.right {
    float: right;
}
